# Terraform state files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
*.tfvars

# Terraform provider cache
.terraform/

# Node.js dependencies
# (npm installで生成される大量のファイル)
node_modules/

# Python cache
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Cloud Function zip files
functions/export_race_uma_details.zip
functions/export_race_uma_odds.zip
functions/export_races.zip
functions/export_schedules.zip
